#body{ margin:40px auto;
       max-width:650px; 
       line-height:1.6; 
       font-size:18px; color:#444;
       padding:0 10px}
       
h1,h2,h3{line-height:1.2}

#page {
        margin: 0 auto;
	padding: 0;
	width: 650px;
}

/* Header */
#header {
  margin: 0 5px 0 0;
  padding: 10px 0px 0 0;
  background: #334499;
  padding-left: 10px;
  padding-bottom: 5px;
}

#header h1 {
	margin:5px 0;
        font-size:2.4em;
        color: #ffffff;
}
#header h1 a {
  color: white;
}

#header .description {
	font-size:1.2em;
        font-family: "Open Sans", 'Lucida Grande', Arial, sans-serif;
        color: white;
}

#hmenu {
        /*float: left;*/
	margin: 0 5px 0 0;
	padding: 0 0 0 0;
        font-family: "Open Sans", 'Lucida Grande', Arial, sans-serif;
        font-size:12px;
        margin: 0;
        padding: 6px 0px 6px 0;
        text-align: center;

}

#hmenu ul {
  margin:0;
  padding:0;
  display:inline;
}

	
#hmenu ul li {
  display:inline;
  margin: 0;
  padding: 0 5px 0 5px;
  font-size:1.2em;
}

#hmenu ul li#current {
  margin: 0;
  padding: 6px;
  background: #334499; 
  color: white;
}

#hmenu ul li#current a {
  color: white;
}

/* End header */

